<div class="wrapper hazard-border">
  <div class="text-area-wrapper component-wrapper">
    <ng-inst-text-area placeholder="Write a caption..." [showLetterCount]="false"></ng-inst-text-area>
  </div>

  <div class="text-area-rich-wrapper component-wrapper">
    <inst-s-text-area-rich placeholder="Write a caption..." [maxLetterCount]="2000"></inst-s-text-area-rich>
  </div>

  <div class="collapsible component-wrapper">
    <inst-s-collapsable title="Advanced settings">
      <p slot="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </inst-s-collapsable>
  </div>
</div>
